<div class="table-container">
  <div class="button-container">
    <button class="button button-add" (click)="this.addDeviceClickHandler()">
      Добавить устройство
    </button>
  </div>
  <table class="table">
    <thead class="table-head">
      <tr class="table-head__row">
        <th
          class="table-head__cell table-head__cell--id"
          (click)="this.idClickHandler()"
        >
          <span class="table-head__text">ID</span>
        </th>
        <th class="table-head__cell">
          <span class="table-head__text">Название</span
          ><input
            class="table-head__name-input"
            type="text"
            maxlength="140"
            placeholder="Фильтр"
            [value]="this._filterString"
            (input)="_filterInputHandler($event)"
          />
        </th>
        <th class="table-head__cell">
          <span class="table-head__text">Тип устройства</span>
        </th>
        <th class="table-head__cell">
          <span class="table-head__text">Разрешения</span>
        </th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr
        class="table-row"
        *ngFor="
          let device of this._tableBySortOrder[this._sortOrder]();
          let deviceIndex = index
        "
        (click)="this.rowClickHandler(device)"
      >
        <td class="table-row__cell">{{ device.id }}</td>
        <td class="table-row__cell">{{ device.name }}</td>
        <td class="table-row__cell">{{ device.type }}</td>
        <td class="table-row__cell">
          <div
            class="resolution-container"
            *ngFor="
              let resolution of device.resolutions;
              let resolutionIndex = index
            "
          >
            <span
              class="device-resolution"
              [ngClass]="{
                'device-resolution--selected':
                  device.selectedResolutionIndex == resolutionIndex
              }"
              >{{ resolution.width }} x {{ resolution.height }}</span
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
